@media print {
	.printContainer {
		height: initial !important;
		overflow: initial !important;
	}
	.pageBreak {
		display: block;
		page-break-after: always;
	}
	.avoidBreak {
		display: block;
		page-break-inside: avoid;
	}

	@page {
		size: portrait;
		margin: 18mm;
	}

	.txtInput {
		border: 0;
		width: 100%;
		resize: none;
	}

  .hidden {
    display: none;
  }

  .image {
  width: 100px;
  height: 40px;
}
}

@page {
	size: portrait;
	margin: 18mm;
}

.image {
  /* position: relative; */
  width: 100px;
  height: 40px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.rightAlign {
  float: right;
}

.flexH {
	display: flex;
	flex-wrap: wrap;
	gap: 10px 0;
}

.flexV {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* gap: 10px 0; */
}

.flexItem {
	flex: 1 1 auto;
}

.title {
	font-weight: bold;
	text-align: center;
	/* margin: 1rem 0; */
}

.subtitle {
	/* margin: 1rem 0; */
	font-weight: bold;
}

.boxedText {
	border: 1px solid black;
	padding: 0.2rem 0.7rem;
	text-align: center;
}

.txtInput {
	width: 100%;
	resize: vertical;
	font-family: inherit;
	font-size: inherit;
	text-align: justify;
}

.justifyText {
	text-align: justify;
}

.resultTable {
  border-collapse: collapse;
}

.resultTable td, .resultTable th {
  text-align: center;
  border-bottom: 1px solid #eee;
  padding: 0.5em 0.5em;
}

.resultTable th {
  background: #F5F5F5;
}
/* .resultTable tr:nth-child(2n-1) td {
  background: #F5F5F5;
} */
