@media print {
	.printContainer {
		height: initial !important;
		overflow: initial !important;
	}
	.pageBreak {
		display: block;
		page-break-after: always;
	}
	.avoidBreak {
		display: block;
		page-break-inside: avoid;
	}

	@page {
		size: portrait;
		margin: 18mm;
	}
}

@page {
	size: portrait;
	margin: 18mm;
}

.title {
	text-align: center;
	margin: 2rem 0;
}

.paper {
	border: 1px solid gray;
	border-radius: 5px;
	padding: 1rem;
	margin-bottom: 2rem;
	min-width: 750px;
}

.paperHeader {
	display: flex;
	justify-content: space-between;
}

.paperHeader > span {
	padding: 0.5rem 0;
}

.variables {
	margin: 1rem;
}

.variable {
	margin-bottom: 1rem;
}

.flexH {
	display: flex;
	gap: 1rem;
}

.varTitle {
	display: inline-block;
	font-weight: bold;
	width: 130px;
}

.varContent {
	flex-grow: 1;
}

.textarea {
	border: 1px solid black;
	border-radius: 5px;
	height: 100px;
	width: 100%;
}

.txt {
	margin-bottom: 0.5rem;
}

.question {
  margin-right: 2rem;
}


.inputLine {
	display: inline-block;
	width: 150px;
	height: 16px;
	border-bottom: 1px solid black;
	margin: 0 1rem;
}

.line {
	display: inline-block;
	margin: 0 1rem;
	width: 10cm;
	height: 16px;
	border-bottom: 2px solid black;
}

.radioBox {
	display: inline-block;
	margin: 10px;
}

.radioBox label {
	display: block;
	text-align: center;
}

.radioBox input {
	appearance: none;
	display: block;
	margin: 0px auto;
	width: 1.5em;
	height: 1.5em;
	border: 0.15em solid black;
	border-radius: 50%;
	background-color: #fff;
}
